tests/__pycache__/
__pycache__/

# Python
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
autosim.db
config.json
results.json
last_run.json

# Electron / Node
node_modules/
out/
dist/
release/
*.lock
!package-lock.json
*.exe
!static/simdragosa-icon.png
